<% if @user.errors.any? %>
  <%= @user.errors.count %>件のerrorが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="offset-md-4"></div>
    <div class="col-md-4">

        <%= form_with model: @user do |f| %>
        <table>
          <tr>
            <th>
              <h2>User info</h2>
            </th>
          </tr>
          <tr>
            <td>
              <h6>Name</h6>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
            </td>
          </tr>
          <tr>
            <td>
              <h6>Image</h6>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
            </td>
          </tr>
          <tr>
            <td>
              <h6>Introduction</h6>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.text_area :introduction %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.submit "Update User", class: "btn btn-secondary" %>
            </td>
          </tr>
        </table>
        <% end %>

    </div>
    <div class="offset-md-4"></div>
  </div>
</div>


