<% if @book.errors.any? %>
  <%= @book.errors.count %>errorが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row">
    <div class="offset-md-4"></div>
    <div class="col-md-4">
      <h2>Editing Book</h2>
        <%= form_with model: @book do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Update Book', class: "btn btn-success" %>

        <% end %>
        <%= link_to "Show", book_path(@book.id) %>
        <%= link_to "Back", books_path %>
      </div>
    <div class="offset-md-4"></div>
