<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/name', user: @user_current %>
      <%= render 'users/new', book: @book %>
    </div>
    <div class="offset-md-1"></div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <th>
            <h2>Books</h2>
          </th>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <h6>Title</h6>
          </td>
          <td>
            <h6>Opinion</h6>
          </td>
        </tr>
      </table>

      <% @books.each do |book| %>
        <table class="table">
          <tr>
            <td>
              <%= image_tag book.user.get_profile_image(100,100) %>
            </td>
            <td>
              <%= link_to book.title, book_path(book) %>
            </td>
            <td>
              <%= book.body %>
            </td>
          </tr>
          <br>
        </table>
      <% end %>
    </div>
  </div>
</div>
