<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://kit.fontawesome.com/0dbb38ab8d.js" crossorigin="anonymous"></script>    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Bookers2</title>
  </head>

  <body>
    <header class="bg-dark text-white pt-5 pb-4">
      <nav class="navbar navbar-expand-lg nacbar-light">
        <div class="container">
          <%= link_to "Bookers", root_path, class: 'nav-link text-white' %></a>
          <button class="navbar-light-icon" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-house"></i>Home'.html_safe, user_path(current_user.id), class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-users"></i>Users'.html_safe, users_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-book-open"></i>Books'.html_safe, books_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-right-from-bracket"></i>Log out'.html_safe, destroy_user_session_path,  method: :delete, class: 'nav-link text-white'  %>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-house"></i>Home'.html_safe, root_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-link"></i>About'.html_safe, home_about_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-user-plus"></i>Sign up'.html_safe, new_user_registration_path, class: 'nav-link text-white' %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-right-to-bracket"></i>Log in'.html_safe, new_user_session_path, class: 'nav-link text-white' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
<div>
  <%= flash[:notice] %>
</div>
    <%= yield %>
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="offset-md-4"></div>
        <div class="col-md-4" style="margin: 70px;">
          <p>CopyRight Infratop.inc<p>
        </div>
        <div class="offset-md-4"></div>
      </div>
    </div>
  </div>
  </footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
